*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: #545454;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
.container{
    background: #14BDAC;
    /* height: 500px;
    width: 500px; */
    margin: 20px;
    padding: 50px;
    border-radius: 25px;
}
.title{
    text-align: center;
    font-size: 50px;
}
.title span{
    color: white;
}
.status-action {
    display: flex;
    margin: 25px;
    font-size: 25px;
    justify-content: space-around;
    height: 30px;
}

.status span {
    color: white;
}


.reset {
    cursor: pointer;
}
.reset:hover{
    color: white;
}

.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 15px;
    background: #0DA192;
}
.game-cell {
    height: 200px;
    width: 200px;
    background: #14BDAC;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* sudo elements */

.x,
.o {
    cursor: auto;
}



.x::after {
    content: '×';
    font-size: 200px;
}

.o::after {
    content: '○';
    color: white;
    font-size: 225px;
}

.won::after {
    color:#BD022F;
}

@media only screen and (max-width: 1024px) {
    .game-grid {
        margin-top: 25px;
        grid-gap: 10px;
    }
    .game-cell {
        height: 150px;
        width: 150px;
    }

    .x::after {
        font-size: 150px;
    }

    .o::after {
        font-size: 175px;
    }
}

@media only screen and (max-width : 540px) {
    .container {
        margin: 25px;
        padding: 25px;
        margin-top: 100px;
        height: 512px;
        width: 300px;

    
    }
    .game-cell {
        height: 100px;
        width: 100px;
    }

    .x::after {
        font-size: 100px;
    }

    .o::after {
        font-size: 125px;
    }
}